<%= progress_bar 0.25, alternative: 'info', label: true, active: true  %>
<%= render 'navigation' %>
<h2 class="jumbotron">Part I - General Information</h2>
<%= render 'general_infos/infos' %>
<%= render 'navigation' %>