<table class="table table-bordered table-striped">
  <tr>
    <td><strong>Corporate Name</strong></td>
    <td><%= @general_info.corporate_name %></td>
    <td><strong>Date</strong></td>
    <td>__________________</td>
  </tr>

  <tr>
  	<td>
  		<strong>
  			Senior Official (please print)
  		</strong>
  	</td>
  	<td>_________________________</td>
  	<td><strong>Signature<br/></strong></td>
  	<td>__________________</td>
  </tr>

  <tr>
	<td>
		<strong>
			Senior Official (please print)
		</strong>
  	</td>
  	<td>_________________________</td>
  	<td><strong>Signature</strong></td>
  	<td>__________________</td>
  </tr>
</table>
 