<p>
 To ensure accuracy, please provide a void cheque/check for any CAD or USD
 bank account that will be used.
</p>
<table class="table table-bordered table-striped">
  <tr>
    <td><strong>Bank Name:</strong></td>
   
  </tr>

  <tr>
    <td><strong>Name of Account Manager:</strong></td>
   
  </tr>

  <tr>
    <td><strong>Street Address:</strong></td>    
  </tr>
  <tr>
    <td><strong>City:</strong></td>
  </tr>
</table>

<table class="table table-bordered table-striped">
  <tr>
    <td><strong>State:</strong></td>
    
    <td><strong>Zip Code:</strong></td>
    
    <td><strong>Country:</strong></td>
    
  </tr>

  <tr>
    <td><strong>Account Number:</strong></td>
    
    <td>
      <strong> 
        Transit: <br/>
        ABA: <br/>
        Fedwire: <br/>
        Sort Code Number: <br/>
      </strong>
    </td>
    
    <td><strong>Currency of Account:</strong></td>
    
  </tr>
  <tr>
    <td><strong>Account Number:</strong></td>
    
    <td>
      <strong> 
        Transit: <br/>
        ABA: <br/>
        Fedwire: <br/>
        Sort Code Number: <br/>
      </strong>
    </td>
    
    <td><strong>Currency of Account:</strong></td>
   
  </tr>
</table>
<table class="table table-bordered table-striped">
  <tr>
    <td><strong>Settlement Methods</strong></td>
    <td>
      DEFT/ACH: <br/>
      Wire: <br/>
      Draft: <br/>
      Cheque/Check: <br/>
      Electronic bill payment: <br/>
      Checkmatic (US only): <br/>
      Reverse wire drawdown (US only):
    </td>
  </tr>
</table>
