<table class="table">
	<td class="pull-left">
		<%= link_to "Back", general_info_path(current_user.general_info), class: "btn btn-primary" %>
	<td class="pull-right">
		<%= link_to "Next", politically_exposed_people_path, class: "btn btn-primary" %>
	</td>
</table>