<p>
  <strong>Officers</strong><br/>
  An individual who holds an office within the corporation (e.g. President, Vice-President, CEO).
</p>

<% @officers.each do |officer| %>
  <table class="table table-striped">
    <tr>
      <td><strong>Full Legal Name</strong></td>
      <td><%= officer.full_legal_name %></td>
      <td><strong>Title / Position</strong></td>
      <td><%= officer.title %></td>
    </tr>
  </table>
<% end %>