<h1 class="jumbotron">Save big on your foreign exchange!</h1>
<% if !user_signed_in? %>
   <h2>To start an application <%= link_to "Register", sign_up_path %></h2>
   <h2>Returning users <%= link_to "Log in", login_path %></h2>
<% end %>
