<h1 class="jumbotron">Review the Complete Application</h1>
<%= progress_bar 0.99, alternative: 'info', label: true, active: true  %>
<%= render 'corporate_applications/review_application' %>
<table class="table">
	<tr>
		<td><%= link_to "Back", new_fx_and_payment_path, class: "btn btn-primary" %></td>
		<td class="pull-right">
			<%= link_to "Submit Corporate Application", corporate_applications_submit_path,
	           			method: :post, class: "btn btn-primary" %>
		</td>
	</tr>
</table>