<h1>Review the Complete Application</h1>
<%= render 'corporate_applications/review_application' %>
<div class="row">
  <div class="action small-4 large-left columns">
    <%= link_to "Back", politically_exposed_people_path, class: "button expand" %>
    <%= link_to "Submit Application", corporate_applications_submit_path,
                method: :post, class: "button expand" %>
  </div>
</div>