<table class="table">
	<td class="pull-left">
		<%= link_to "Back", corporate_applications_personnel_path, class: "btn btn-primary" %>
	</td>
	<td class="center">
		<%= link_to 'Add new', new_politically_exposed_person_path, class: "btn btn-primary" %>
	</td>
	<td class="pull-right">
		<%= link_to "Next", new_fx_and_payment_path, class: "btn btn-primary" %>
	</td>
</table>