<%= progress_bar @progress, alternative: 'info', label: true, active: true  %>
<%= render 'navigation' %>
<h2 class="jumbotron">Part III - Politically Exposed People</h2>
<%= render 'exposed_person' %>
<%= render 'navigation' %>