<h1>Politically Exposed People</h1>
<%= render 'exposed_person' %>
<%= link_to "Back", corporate_applications_personnel_path,
            class: "button expand" %>
<%= link_to "Next", new_fx_and_payment_path, class: "button expand" %>
</div>