<table class="table">
	<td class="pull-left">
		<%= link_to 'Back', politically_exposed_people_path, class: "btn btn-primary" %>
	</td>
	<td class="center">
		<%= link_to 'Edit', edit_fx_and_payment_path(@fx_and_payment), class: "btn btn-primary" %>
	</td>
	<td class="pull-right">
		<%= link_to 'Next', corporate_applications_review_path, class: "btn btn-primary" %>
	</td>
</table>