<h1>Foreign Exchange and Payment Needs</h1>
<%= render 'fx_and_payments/fx_and_payments_needs' %>
<%= link_to 'Back', politically_exposed_people_path %>
<%= link_to 'Edit', edit_fx_and_payment_path(@fx_and_payment) %> |
<%= link_to 'Next', signatories_path %>
