<div class="row">
	<h2 class="jumbotron">Part IV - Foreign Exchange and Payment Needs</h2>
</div>
<%= render 'fx_and_payments/fx_and_payments_needs' %>
<p class="row">
<%= link_to 'Back', politically_exposed_people_path, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_fx_and_payment_path(@fx_and_payment), class: "btn btn-primary" %>
<%= link_to 'Next', corporate_applications_review_path, class: "btn btn-primary" %>
</p>
