<%= form_for(@corporate_personnel) do |f| %>
  <% if @corporate_personnel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corporate_personnel.errors.count, "error") %> prohibited this corporate_personnel from being saved:</h2>

      <ul>
      <% @corporate_personnel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
