<div class="row">
  <%# Rails flash messages styled for Zurb Foundation %>
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, class: "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
</div>